.location-filters {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 1024px) {
  .location-filters {
    flex-direction: column;
    gap: 1em;
  }

  .city-container {
    display: flex;
    flex-direction: column;
  }
}
